/* about page only css */
li#work {
  border-left: none;
  font-weight: normal;
}

li#about {
  color: #f1613d;
  font-weight: bold;
  font-size: 16px;
}

.about {
  float:left;
  position: absolute;
  margin-top: 100px;
  margin-left: 270px;
  margin-bottom: 100px;
}

p {
  text-align: left;
}

h1 {

  font-size: 40px;
  font-weight: bold;
  color: #f1613d;
  margin-top: 30px;
  margin-left: -90%;
  padding-bottom: 20px;
}

.col-md-9 > p {
  width: 60%;
}

.col-md-9 > ul {
  width: 60%;
}

img.profile {
  width: 100%;
  background-color: #000;
}
